
<div class="row">
  <a [routerLink]="['/movie-detail', movie?.Id]">
    <div class="form-group col-md-2">
      <img class="col-md-12" [src]="movie?.Poster" />
    </div>
    <div class="col-md-8">
      <h4>
        <em class="form-group col-md-8">{{movie?.Title}}</em>
        <em class="form-group col-md-4">{{movie?.listingType}}</em>
      </h4>
      <em class="form-group col-md-12">Language: {{movie?.Language}}</em>
      <em class="form-group col-md-12">Location: {{movie?.Location}}</em>
      <em class="form-group col-md-12">ImdbRating: {{movie?.imdbRating}}</em>
    </div>

    <div class="col-md-2">
     
    </div>
  </a>
</div>



